<div id="createEditModal" class="z-50 absolute flex justify-center top-0 w-screen h-screen select-none hidden">
    <div class="flex justify-center top-0 w-screen h-screen z-50">
        <div class="blackModal absolute top-0  w-full h-full bg-black opacity-80 z-50"></div>
        <div class="absolute z-50 opacity-100 w-2/5">
            <div class="absolute w-full bg-white rounded top-[50vh] -translate-y-[75%] px-12 py-8">
                <div id="createEditHeader" class="text-3xl mb-4 my-auto font-semibold">
                    Modify the respective columns
                </div>
                <div class="flex flex-col mb-5">
                    <div class="flex flex-col">
                        <div class="mb-1">
                            Name
                        </div>
                        <div>
                            <input id="editName" class="border border-black w-full px-2 py-1" type="text">
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="mb-1">
                            Summary
                        </div>
                        <div>
                            <textarea id="editSummary" class="border border-black w-full px-2 py-1"></textarea>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="mb-1">
                            Publication Date
                        </div>
                        <div>
                            <input id="editPublicationDate" class="border border-black w-full px-2 py-1" type="text">
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="mb-1">
                            Sales
                        </div>
                        <div>
                            <input id="editSales" class="border border-black w-full px-2 py-1" type="text">
                        </div>
                    </div>
                </div>
                <div class="flex justify-between w-full">
                    <div class="w-2/5">
                        <button class="quitModal w-full border border-secundary bg-gray-50 hover:bg-gray-100 hover:border-white py-2 px-6 text-center text-lg font-medium rounded-lg select-none">
                            No, cancel pls
                        </button>
                    </div>
                    <div id="confirmEdit" class="w-2/5">
                        <button class="w-full border border-secundary bg-gray-50 hover:bg-gray-100 hover:border-white py-2 px-6 text-center text-lg font-medium rounded-lg select-none">
                            Yes, edit
                        </button>
                    </div>
                    <div id="confirmCreate" class="w-2/5">
                        <button class="w-full border border-secundary bg-gray-50 hover:bg-gray-100 hover:border-white py-2 px-6 text-center text-lg font-medium rounded-lg select-none">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-slate-200 h-[90vh] bg-opacity-50 select-none">
    <div class="flex justify-between w-5/6 text-5xl mx-auto font-semibold italic text-center pt-5">
        <div>
            Books CRUD
        </div>
        <div id="createButton" class="flex border-2 border-black hover:bg-white px-2 rounded-lg cursor-pointer">
            <div class="mx-2 text-3xl my-auto not-italic">
                Add new row
            </div>
            <div>
                <div class=" rounded-full p-2">
                    <div class="h-9 w-9">
                        <svg viewBox="0 0 32 32">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#000000">
                                    <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" sketch:type="MSShapeGroup"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-5/6 h-[75vh] mx-auto overflow-y-auto mt-5">
        <table>
            <thead>
                <tr class=" sticky top-0 w-5/6 h-10 bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="w-2/12 py-3 px-6 text-left">Name</th>
                    <th class="w-6/12 py-3 px-6 text-left">Summary</th>
                    <th class="w-2/12 py-3 px-6 text-left">Publication Date</th>
                    <th class="w-1/12 py-3 px-6 text-left">Sales</th>
                    <th class="w-1/12 py-3 px-6 text-left"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                <% allBooks.forEach((element, index) => { %>
                    <tr class=" border-b border-gray-100 hover:bg-gray-200 <%= (index % 2 === 0) ? 'bg-white' : 'bg-gray-50' %>">
                        <td class="w-2/12 py-3 px-6 whitespace-nowrap">
                            <span class="font-medium"><%= element.name %></span>
                        </td>
                        <td class="w-6/12 py-3 px-6">
                            <span><%= element.summary %></span>
                        </td>
                        <td class="w-2/12 py-3 px-6">
                            <span><%= element.publication_date %></span>
                        </td>
                        <td class="w-1/12 py-3 px-6">
                            <span><%= element.sales %></span>
                        </td>
                        <td class="w-1/12 py-3 px-6">
                            <div class="flex justify-between px-2">
                                <div name="<%=element.name%>" summary="<%=element.summary%>" publication_date="<%=element.publication_date%>" sales="<%=element.sales%>" class="editSvg w-9 h-9 cursor-pointer">
                                    <svg viewBox="0 0 24 24" fill="none">
                                        <path d="M18.3785 8.44975L11.4637 15.3647C11.1845 15.6439 10.8289 15.8342 10.4417 15.9117L7.49994 16.5L8.08829 13.5582C8.16572 13.1711 8.35603 12.8155 8.63522 12.5363L15.5501 5.62132M18.3785 8.44975L19.7927 7.03553C20.1832 6.64501 20.1832 6.01184 19.7927 5.62132L18.3785 4.20711C17.988 3.81658 17.3548 3.81658 16.9643 4.20711L15.5501 5.62132M18.3785 8.44975L15.5501 5.62132" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5 20H19" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div id="<%=element._id%>" class="deleteSvg w-8 h-8 cursor-pointer">
                                    <svg viewBox="0 0 24 24" fill="none">
                                        <path d="M10 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</div>
<script>

    let createButton = document.getElementById("createButton")
    let confirmDelete = document.getElementById("confirmDelete")
    let modal = document.getElementById("modal")
    let createEditHeader = document.getElementById("createEditHeader")
    let confirmCreate = document.getElementById("confirmCreate")
    let confirmEdit = document.getElementById("confirmEdit")
    let createEditModal = document.getElementById("createEditModal")

    let quitModal = document.querySelectorAll(".quitModal");

    quitModal.forEach((quitModalItem) => {
        quitModalItem.addEventListener("click", function(){
            modal.classList.add("hidden");
            createEditModal.classList.add("hidden");
    })
    });

    let blackModal = document.querySelectorAll(".blackModal");

    blackModal.forEach((blackModalItem) => {
        blackModalItem.addEventListener("click", function(){
            modal.classList.add("hidden");
            createEditModal.classList.add("hidden");
    })
    });



    let deleteSvgs = document.querySelectorAll(".deleteSvg");
    deleteSvgs.forEach((deleteSvg) => {
        deleteSvg.addEventListener("click", function () {
            modal.id = deleteSvg.id
            modal.classList.toggle("hidden");
        });
    });

    let editName = document.getElementById("editName")
    let editSummary = document.getElementById("editSummary")
    let editPublicationDate = document.getElementById("editPublicationDate")
    let editSales = document.getElementById("editSales")

    let editSvgs = document.querySelectorAll(".editSvg");
    editSvgs.forEach((editSvg) => {
        editSvg.addEventListener("click", function () {
            createEditHeader.innerHTML = "Modify the respective columns"
            confirmCreate.classList.add("hidden")
            confirmEdit.classList.remove("hidden")
            editName.value = editSvg.attributes.name.value
            editSummary.value = editSvg.attributes.summary.value
            editPublicationDate.value = editSvg.attributes.publication_date.value
            editSales.value = editSvg.attributes.sales.value
            createEditModal.classList.toggle("hidden");
            
        });
    });

    createButton.addEventListener("click", function () {
        createEditHeader.innerHTML = "Create new row"
        confirmCreate.classList.remove("hidden")
        confirmEdit.classList.add("hidden")
        editName.value = ""
        editSummary.value = ""
        editPublicationDate.value = ""
        editSales.value = ""
        createEditModal.classList.toggle("hidden");
    });

    confirmDelete.addEventListener("click", async function () {
        try {
            const response = await fetch("books/"+modal.id, {
                method: "DELETE"
            });

            if (response.ok) {
                const savedData = await response.json();
                location.reload();
            } else {
                alert("Error al guardar los datos en el servidor.");
            }
        } catch (error) {
            console.error("Error:", error);
        }
    });
    
    document.getElementById("confirmCreate").addEventListener("click", async (event) => {
            
            const editName = document.getElementById("editName")
            const editSummary = document.getElementById("editSummary")
            const editPublicationDate = document.getElementById("editPublicationDate")
            const editSales = document.getElementById("editSales")

            const requestData = {
                name: editName,
                summary: editSummary,
                publication_date: editPublicationDate,
                sales: editSales,
            };
            try {
                const response = await fetch("books", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                });

                if (response.ok) {
                    const savedData = await response.json();
                    location.reload();
                } else {
                    alert("Error al guardar los datos en el servidor.");
                }
            } catch (error) {
                console.error("Error:", error);
            }
        });

</script>